.header__title {
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    display: flex;
    vertical-align: center;
    margin: 0 0 0 64px;
    padding: 0;
    z-index: 2;
}